/*
Theme Name: Sps
Theme URI: #
Author: José Roldán
Author URI: https://www.softtechdigital.com
Description: A custom WordPress theme for "Sps" using Bootstrap-sass and Gulp technologies
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: #
Tags: Sps
*/

:root{
    /* Colors */
    --grisClaro  : #333333;
    --grisOsuro  : #252525;
    --grisMedio  : #2C2C2C;
    --blanco     : #ffffff;
    --azulClaro  : #113150;
    --azulOscuro : #0B2749;

}

@font-face {
    font-family: GilroyExtraBold;
    src: url(fonts/Gilroy/gilroy-extrabold.otf);
}

@font-face {
    font-family: GilroyLight;
    src: url(fonts/Gilroy/gilroy-light.otf);
}

@font-face {
    font-family: AvenirRoman;
    src: url(fonts/Avenir/AvenirRoman.otf);
}

@font-face {
    font-family: AvenirHeavy;
    src: url(fonts/Avenir/AvenirHeavy.ttf);
}

@font-face {
    font-family: AvenirBook;
    src: url(fonts/Avenir/Avenir.ttc);
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* Now 10px = 1rem */
}

body{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
    overflow-x: hidden;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* Globals */
a{
    text-decoration: none;
}

h1{
    font-family: GilroyExtraBold;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

.container-site{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

/* Header */
.site-header{
    background: rgba(51,51,51,1);
    background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 9%, rgba(51,51,51,1) 13%, rgba(37,37,37,1) 17%, rgba(37,37,37,1) 71%, rgba(37,37,37,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,51,51,1)), color-stop(9%, rgba(51,51,51,1)), color-stop(13%, rgba(51,51,51,1)), color-stop(17%, rgba(37,37,37,1)), color-stop(71%, rgba(37,37,37,1)), color-stop(100%, rgba(37,37,37,1)));
    background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 9%, rgba(51,51,51,1) 13%, rgba(37,37,37,1) 17%, rgba(37,37,37,1) 71%, rgba(37,37,37,1) 100%);
    background: -o-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 9%, rgba(51,51,51,1) 13%, rgba(37,37,37,1) 17%, rgba(37,37,37,1) 71%, rgba(37,37,37,1) 100%);
    background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 9%, rgba(51,51,51,1) 13%, rgba(37,37,37,1) 17%, rgba(37,37,37,1) 71%, rgba(37,37,37,1) 100%);
    background: linear-gradient(to right, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 9%, rgba(51,51,51,1) 13%, rgba(37,37,37,1) 17%, rgba(37,37,37,1) 71%, rgba(37,37,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#252525', GradientType=1 );
    max-width: 100%;
    height: auto;
}

@media (min-width: 992px){
    .site-header{
        height: 115px;
    }
}

.site-header .container-site{
    margin-bottom: -7px;
}

.header-1{
    background: var(--grisClaro);
}

.header-2{
    display: block;
    background: var(--grisMedio);
}

@media (min-width: 768px){
    .header-2{
        display: none;
    }
}

.header-3{
    background: var(--grisOscuro);
}

.header-logo{
    max-width: 100%;
    width: 150px;
    margin-top: 40px;
    margin-left: 0;
}

@media (min-width: 768px){
    .header-logo{
        width: 50%;
        margin-top: 40px;
        margin-left: 80px;
    }
}

.logo{
    padding-bottom: 13px; 
    margin-top: -20px;
    margin-left: -30px;
}

/* Principal Menu */
.menu_principal{
    display: none;
}

.menu_principal .menu{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    text-transform: uppercase;
}


@media (min-width: 768px){
    .menu_principal{
        display: block;
    }
}

@media (min-width: 992px){
    .menu_principal .menu{
        padding-top: 50px;
    }
}

.menu_principal a{
    color: var(--blanco);
    font-family: AvenirHeavy;
}

@media (min-width: 768px){
    .menu_principal a{
        font-size: 0.8rem;
    }
}

@media (min-width: 992px){
    .menu_principal a{
        font-size: 1.4rem;
    }
}
.menu_principal #menu-item-14 a{
    padding-top: 65px;
    padding-bottom: 26px;
    background: var(--grisMedio);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -28px;
}

@media (min-width: 992px){
    .menu_principal #menu-item-14 a{
        padding-top: 51px;
        padding-bottom: 45px;
    }
}

.menu_principal li a:hover{
    color: #315158;
    text-decoration: none;
} 

#menu-item-19 a{
    background:#D0E7EC;
    color: var(--azulOscuro);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    font-family: AvenirHeavy;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* SlickNav */
.slicknav_btn,
.slicknav_menu{
    background-color: var(--grisOsuro);
}

.slicknav_menu{
    width: 50%;
    float: right;
    margin-top: -70px;
    margin-bottom: 21px;
}

@media (min-width: 768px){
    .slicknav_menu{
        display: none;
    }
}

.slicknav_nav{
    background-color: var(--grisClaro);
    margin: -5px;
    float: right;
    position: relative;
    margin-bottom: -23rem;
    z-index: 9;
    margin-top: 22px;
    padding-left: 25px;
}

.slicknav_nav a{
    text-align: right;
}

.slicknav_menu .slicknav_icon-bar{
    background-color:#315158 !important;
    width: 2em;
    height: .3em;
    margin-top: 20px;
}

.slicknav_menutxt{
    display: none !important;
}


/* Footer */
.site-footer{
    background: var(--grisOsuro);
    background-image: url("img/background-footer.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
}

.content-footer{
    text-align: center;
}

.content-footer p{
    font-family: AvenirBook;
}

.content-footer p a{
    font-family: AvenirBook;
    color: var(--blanco);
}

.content-footer p a:hover{
    text-decoration: none;
}


.copyright-text{
    font-family: AvenirBook;
}

.btn-contact{
    color: #fff;
    background-color: #EC5223;
    border-color: #EC5223;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: AvenirHeavy;
}

.btn-contact:hover{
    color: #fff;
    background-color: #FF754C;
    border-color: #FF754C;
}

.site-footer-content{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
}

@media (min-width: 576px){
    .social-networks{
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (min-width: 768px){
    .social-networks{
        margin-left: 40px;
        margin-right: 40px;
    }

    .site-footer-content{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (min-width: 1024px){ 
    .social-networks{
        margin-left: 137px;
        margin-right: 137px;
    }
}

.social-icon{
    width: 30px;
}

.copyright-text{
    color: var(--blanco);
    text-transform: uppercase;
    margin-top: 25px;
}

.whatsaap-block{
    background-color: #C2D9DF;
    position: absolute;
    float: right;
    z-index: 999999999999999999999999;
    width: 50%;
    height: 100%;
    margin-top: -37px;
    right: 5%;
    height: 5%;
    padding: 8px;
    padding-left: 5px;
    display: block;
}

@media (min-width: 768px){
    .whatsaap-block{
        display: none;
    }
}

.whatsaap-block a{
    text-transform: uppercase;
    font-family: AvenirHeavy;
    color: #302C2E;
}

.icon-whatsapp{
    background: #302C2E;
    color: var(--blanco);
    padding: 5px;
    padding-top: 4px;
    border-radius: 15px;
}

/* Banner */
.carousel-caption-text {
    position: absolute;
    right: 70%;
    bottom: 0px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    height: 100%;
    width: 50%;
    background-color: var(--azulOscuro);
    opacity: 0.8;
}

.carousel-indicators{
    display: none;
}

.title-banner{
    font-size: 1.5em;
    width: 45%;
    text-align: left;
    margin-left: 1rem;
    margin-top: -1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: GilroyExtraBold;
}

.text-banner-extra-light{
    font-family: GilroyLight;
}

.text-banner-extra-bold{
    font-family: GilroyExtraBold;
}

.text-banner{
    margin-left: 1rem;
    margin-bottom: 0;
    text-align: left;
    font-size: 1rem;
    text-transform: uppercase;
}

@media (min-width: 576px){ 
    .title-banner{
        font-size: 2.5em;
        width: 45%;
        text-align: left;
        margin-left: 12rem;
        margin-top: 5rem;
        font-weight: 700;
        
    }

    .text-banner{
        margin-left: 12rem;
        margin-bottom: 0;
        text-align: left;
        font-size: 1rem;
    }
}


@media (min-width: 768px){ 
    .title-banner{
        font-size: 2.5em;
        width: 45%;
        text-align: left;
        margin-left: 12rem;
        margin-top: 5rem;
        font-weight: 700;
    }

    .text-banner{
        margin-left: 12rem;
        margin-bottom: 0;
        text-align: left;
        font-size: 1rem;
    }
}

@media (min-width: 992px){
    .title-banner{
        font-size: 5.75rem;
        text-align: left;
        width: 50%;
        font-weight: 700;
        margin-left: 25rem;
        margin-top: 15rem;
    }

    .text-banner{
        margin-left: 25rem;
        margin-bottom: 0;
        text-align: left;
        font-size: 1.4rem;
    }
}

/* Homepage */
.about-us{
    background-color: #D0E7EB;
    max-width: 100%;
    margin-bottom: -1px;
}

.title-black{
    color: var(--grisOsuro);
    text-transform: uppercase;
    text-align: left;
    margin-top: 4rem;
}

.title-white{
    color: var(--blanco);
    text-transform: uppercase;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 0;
    text-align: center;
}

@media (min-width: 768px){
    .title-white{
        margin-bottom:8rem;
    }
}

@media (min-width: 576px){
    .title-white,
    .title-black{
        text-align: center;
    }
}

.text-about-us{
    color: var(--grisOsuro);
    text-align: left;
    line-height: 1.2;
    margin-bottom: 4rem;
    font-family: AvenirRoman;
    font-weight: 500;
}

@media (min-width: 576px){
    .text-about-us{
        text-align: center;
    }
}


.block-section{
    display: none;
}

@media (min-width: 768px){
    .block-section{
        display: block;
    }
}

.human-talent{
    background-image: url("img/background-ht.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
}

.subtitle-black{
    text-align: left;
    text-transform: uppercase;
    color: var(--grisMedio);
    margin-top: -0.8rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: GilroyLight;
}

.subtitle-white{
    text-align: left;
    text-transform: uppercase;
    color: var(--blanco);
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: GilroyLight;
}

@media (min-width: 576px){
    .subtitle-black,
    .subtitle-white{
        text-align: center;
    }
}

@media (min-width: 768px){
    .subtitle-white{
        margin-top: -7.5rem;
    }
}

.embed-responsive-iframe{
    margin-bottom: 3rem;
}

.icon-section-title{
    background-color: var(--azulClaro);
    max-width: 100%;
}

.icon-section{
    background-color: var(--azulOscuro);
    max-width: 100%;
}

.icon-primary{
    position: relative;
    border: 2px solid #fff; 
    border-radius: 10px;
    margin-bottom: 4rem;
}

.icon-secundary{
    position: absolute;
    margin-top: -20px;
    z-index: 99999 !important;
    background: var(--azulOscuro);
    width: 25%;
    left: 40%;
}

@media (min-width: 576px){
    .icon-secundary{
        margin-top: -20px;
        width: 15%;
        left: 43%;
    }
}

@media (min-width: 768px){
    .icon-secundary{
        margin-top: -15px;
        width: 40%;
        left: 30%;
    }
}

@media (min-width: 992px){
    .icon-secundary{
        margin-top: -27px;
        width: 40%;
        left: 30%;
    }
}

.text-icon-section{
    color: #fff;
    margin-top: 2.7rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    font-family: AvenirHeavy;

}

.separate-icon-2,
.separate-icon{
    display: none;
}

@media (min-width: 768px){
    .text-icon-section{
        font-size: 0.6rem;
    }
    .separate-icon-2,
    .separate-icon{
        display: block;
    }
}

@media (min-width: 992px){
    .text-icon-section{
        font-size: 1.2rem;
    }

    .separate-icon-2,
    .separate-icon{
        display: block;
    }
    
}

.icon-secundary-central{
    position: absolute;
    margin-top: -20px;
    z-index: 99999 !important;
    background: var(--azulOscuro);
    width: 20%;
    left: 40%;
}

@media (min-width: 576px){
    .icon-secundary-central{
        margin-top: -30px;
        width: 15%;
        left: 43%;
    }
}

@media (min-width: 768px){
    .icon-secundary-central{
        margin-top: -15px;
    }
}

@media (min-width: 992px){
    .icon-secundary-central{
        margin-top: -30px;
    }
}


.block-section-icon{
    margin-left: 1.5rem;
}

.icon-central{
    margin-left: -1rem;
}

@media (min-width: 768px){
    .block-section-icon{
        margin-left: 0;
    }

    .icon-central{
        margin-left: 0;
    }
}


.sector-industries{
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
}

.sector-industries-color{
    background-color: var(--azulOscuro);
    opacity: 1.5;
    position: absolute;
    max-width: 100%;
}

.title-sector-industries{
    color: var(--blanco);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.5rem;
    padding: 1.4rem;
    font-family: AvenirHeavy;
}

.text-sector-industries{
    color: var(--blanco);
    text-align: center;
    line-height: 1.2;
    margin-bottom: 4rem;
    font-family: AvenirRoman;
}

.btn-sector-industries{
    background-color: #D0E8EC;
    color: var(--azulClaro);
    text-transform: uppercase;
    margin-left: 9rem;
    margin-right: 9rem;
    font-size: 1.4rem;
    border-radius: 10px;
    font-family: AvenirHeavy;
    margin-bottom: 3rem;
}

@media (min-width: 768px){
    .btn-sector-industries{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 0;
    }
}

.container-sector-industries{
    margin-bottom: 4rem;
}

@media (min-width: 768px){
    .container-sector-industries{
        margin-bottom: 15rem;
    }
}

/* Banner Desktop Sector*/

.carousel-caption-text-sector{
    position: absolute;
    right: 70%;
    bottom: 0px;
    left: 0%;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    height: 35%;
    width: 100%;
    background-color: var(--azulOscuro);
    opacity: 0.5;
}

@media (min-width: 768px){
    .carousel-caption-text-sector{
        height: 25%;
    }
}

.text-banner-sector{
    z-index: 2;
    position: absolute;
    margin-top: -148px;
    color: #fff;
    max-width: 100%;
    width: 100%;
}

.text-banner-sector-section{
    margin-left: 1.5rem;
    margin-bottom: 0;
    text-align: left;
    font-size: 1rem;
    text-transform: uppercase;
}

@media (min-width: 576px){

    .text-banner-sector-section{
        margin-left: 1rem;
        margin-bottom: 0;
        text-align: left;
        font-size: 1rem;
    }
}

@media (min-width: 768px){

    .text-banner-sector-section{
        margin-left: 8rem;
        margin-bottom: 0;
        text-align: left;
        font-size: 1rem;
    }
}

@media (min-width: 992px){

    .text-banner-sector-section{
        margin-left: 25rem;
        margin-bottom: 0;
        text-align: left;
        font-size: 1.4rem;
    }
}


.title-banner-sector{
    font-size: 2.4rem;
    text-align: left;
    width: 100%;
    font-weight: 700;
    margin-left: 1.5rem;
    margin-top: 10rem;
    font-family: GilroyExtraBold;
    margin-bottom: -2px;
}

@media (min-width: 576px){
    .title-banner-sector{
        font-size: 2.4rem;
        text-align: left;
        width: 50%;
        font-weight: 700;
        margin-left: 1rem;
        margin-top: 6rem;
    }
}

@media (min-width: 768px){
    .title-banner-sector{
        font-size: 2.4rem;
        text-align: left;
        width: 50%;
        font-weight: 700;
        margin-left: 8rem;
        margin-top: 6rem;
    }
}

@media (min-width: 992px){
    .title-banner-sector{
        font-size: 3.75rem;
        text-align: left;
        width: 50%;
        font-weight: 700;
        margin-left: 25rem;
        margin-top: -1rem;
    }
}

br{
    display: none;
}

@media (min-width: 576px){
    br{
        display: block;
    }
}

 /* Desktop Sector*/
 .text-section-sector-1 {
    color: var(--azulClaro);
    text-align: left;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-family: AvenirRoman;
    text-align: justify;
}

@media (min-width: 992px){
    .text-section-sector-1 {
        text-align: center;
    }
}

.icon-section-sector{
    background-color: var(--blanco);
    max-width: 100%;
}

.text-icon-section-sector{
    color: var(--grisClaro);
    text-transform: initial;
    text-align: center;
    font-size: 1.2rem;
    font-family: AvenirRoman;
    margin-left: 0rem;
}


@media (min-width: 768px){
    .text-icon-section-sector{
        margin-left: -2rem;
    }
}

@media (min-width: 992px){
    .text-icon-section-sector{
        margin-left: 0rem;
    }
}


.icon-sector{
    width: 50%;
    margin-left: 3rem;
}

@media (min-width: 576px){
    .icon-sector{
        width: 20%;
        margin-left: 11rem;
    }
}

@media (min-width: 768px){
    .icon-sector{
        width: 75%;
        margin-left: 0.2rem;
    }
}

@media (min-width: 992px){
    .icon-sector{
        width: 50%;
        margin-left: 3rem;
    }
}

.list-our-principles{
    margin-bottom: 4.8rem;
}

.our-principles-section{
    max-width: 100%;
    /*background-image: url("img/triangulo.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.background-our-principles{
    position: absolute;
    z-index: -2;
    width: 0;
    height: 0;
    border-right: 5rem solid transparent;
    border-top: 36rem solid transparent;
    border-left: 34rem solid #E2F0F3;
    border-bottom:15rem solid #E2F0F3;
    margin-left: -25px;
}

.img-security{
    position: absolute;
    width: 75%;
    left: 55%;
    top: 116rem;
    z-index: -1;
}

.list-op{
    width: 85%;
    margin-top: 0;
    margin-left: -25px;
}

.list-op li{
    font-family: AvenirRoman;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.btn-op{
    background-color: var(--azulOscuro);
    color: var(--blanco);
    text-transform: uppercase;
    font-family: AvenirHeavy;
    margin-left: 4rem;
    margin-top: 0;
    padding: 8px;
    border-radius: 5px;
}

.btn-op:hover{
    background-color: var(--azulClaro);
    color: var(--blanco);
}

.title-black-op{
    text-align: left;
}

@media (min-width: 576px){
    .list-op{
        width: 75%;
        margin-top: 25px;
        margin-left: 0;
    }

    .btn-op{
        margin-left: 15rem;
        margin-top: 5rem;
    }

    .img-security{
        width: 40%;
        left: 65%;
        top: 110rem;
    }

    .background-our-principles{
        border-right: 9rem solid transparent;
        border-top: 59rem solid transparent;
        border-left: 104rem solid #E2F0F3;
        border-bottom: 26rem solid #E2F0F3;
    }
}

@media (min-width: 768px){
    .list-op{
        width: 100%;
        margin-top: 25px;
        margin-left: 0;
    }

    .btn-op{
        margin-left: 15rem;
        margin-top: 5rem;
    }

    .img-security{
        width: 40%;
        left: 60%;
        top: 111rem;
    }

    .background-our-principles{
        border-right: 30rem solid transparent;
        border-top: 30rem solid transparent;
        border-left: 53rem solid #E2F0F3;
        border-bottom: 18rem solid #E2F0F3;
    }
}

@media (min-width: 992px){
    .list-op{
        width: 75%;
        margin-top: 25px;
        margin-left: 0;
    }

    .btn-op{
        margin-left: 15rem;
        margin-top: 5rem;
    }

    .img-security{
        width: 23%;
        left: 60%;
        top: 139rem;
    }

    .title-black-op{
        text-align: center;
    }

    .background-our-principles{
        border-right: 32rem solid transparent;
        border-top: 35rem solid transparent;
        border-left: 106rem solid #E2F0F3;
        border-bottom: 10rem solid #E2F0F3;
    }
}

.title-white-sector{
    margin-top: 1rem;
    text-align: left;
}

.subtitle-white-sector{
    margin-top: 0;
    margin-bottom: 7rem;
    text-align: left;
}

.text-solutions-main{
    margin-bottom: 11rem;
    
}

.text-solutions{
    position: absolute;
    margin-top: -6rem;
    margin-left: -1.7rem;
    text-align: left;
    width: 90%;
}

.text-solutions p{
    font-family: AvenirRoman;
    text-align: left;
    color: var(--blanco);
}

@media (min-width: 576px){
    .title-white-sector{
        margin-top: 1rem;
        text-align: center;
    }
    
    .subtitle-white-sector{
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .text-solutions-main{
        margin-bottom: 15rem;
        
    }
    
    .text-solutions{
        margin-top: 1rem;
        margin-left: 0;
        width: 90%;
    }

    .text-solutions p{
        text-align: center;
    }

}

@media (min-width: 768px){
    .title-white-sector{
        margin-top: 1rem;
        text-align: center;
    }
    
    .subtitle-white-sector{
        margin-top: -7rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .text-solutions-main{
        margin-bottom: 15rem;
        
    }
    
    .text-solutions{
        margin-top: 1rem;
        margin-left: 0;
        width: auto;
    }

    .text-solutions p{
        text-align: center;
    }

}

@media (min-width: 992px){
    .title-white-sector{
        margin-top: 5rem;
        text-align: center;
    }
    
    .subtitle-white-sector{
        margin-top: -7rem;
        margin-bottom: 7rem;
        text-align: center;
    }
    
    .text-solutions-main{
        margin-bottom: 10rem;
        
    }
    
    .text-solutions{
        margin-top: -4rem;
        margin-left: 0;
        width: auto;
    }

    .text-solutions p{
        text-align: center;
    }

}

.sector-profiles{
    position: relative;
    background-image: linear-gradient(
        rgba(11, 39, 73, 0.5),
        rgba(11, 39, 73, 0.5)
      ), url("img/AdobeStock_314672886.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
}

.title-white-profile{
    margin-bottom: 5rem;
}

.text-profiles{
    background: var(--blanco);
    text-align: center;
    height: 80px;
}

.text-profiles h2{
    font-family: GilroyExtraBold;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-top: 0.5rem;
}

.text-profiles p{
    font-family: AvenirRoman;
    font-size: 1.2rem;
    color: var(--grisClaro);
}

.block-section-profile{
    margin-bottom: 2rem;
}

@media (min-width: 768px){
    .block-section-profile{
        margin-bottom: 0;
    }
}

.title-white-recommendations{
    margin-bottom: 2rem;
}

@media (min-width: 768px){
    .title-white-recommendations{
        margin-bottom: 8rem;
    }
}

.icon-secundary-recommendations{
    position: absolute;
    margin-top: -2rem;
    z-index: 99999 !important;
    width: 15%;
    left: 10%;
    background: var(--blanco);
    border-radius: 25px;
}

@media (min-width: 576px){
    .icon-secundary-recommendations{
        width:6%;
    }
}

@media (min-width: 768px){
    .icon-secundary-recommendations{
        width: 20%;
    }
}

@media (min-width: 992px){
    .icon-secundary-recommendations{
        width: 10%;
    }
}

.icon-primary-recommendations-1{
    border-radius: 0;
    margin-left: 0;
}

.icon-primary-recommendations-2{
    border-radius: 0;
    margin-left: 0;
}

@media (min-width: 768px){
    .icon-primary-recommendations-1{
        margin-left: 5rem;
    }
    
    .icon-primary-recommendations-2{
        margin-left: 1rem;
    }
}

@media (min-width: 992px){
    .icon-primary-recommendations-1{
        margin-left: 9rem;
    }
    
    .icon-primary-recommendations-2{
        margin-left: 1rem;
    }
}

.text-icon-section-recommendations{
    font-size: 1.2rem;
    color: #fff;
    margin-top: 3.5rem;
    margin-left: 0;
    margin-bottom: 2.5rem;
}

.text-icon-section-recommendations li{
    font-family: AvenirBook;
}
.row-icon-section-recommendations{
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.block-section-2{
    display: block;
}

@media (min-width: 768px){
    .block-section-2{
        display: none;
    }

    .row-icon-section-recommendations{
        margin-top: -5rem;
        margin-bottom: 2rem;
    }

    .text-icon-section-recommendations{
        margin-left: -0.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 992px){
    .block-section-2{
        display: none;
    }

    .row-icon-section-recommendations{
        margin-top: -5rem;
        margin-bottom: 2rem;
    }

    .text-icon-section-recommendations{
        margin-left: 2.5rem;
        margin-bottom: 4.5rem;
    }
}

.appointment-section{
    max-width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.title-appointment-1{
    font-family: GilroyLight;
    text-transform: uppercase;
    color: var(--grisOsuro);
    text-align: center;
    font-size: 2.5rem;
}

.title-appointment-2{
    font-family: GilroyExtraBold;
    text-transform: uppercase;
    color: var(--grisOsuro);
    text-align: center;
    font-size: 2.5rem;
}

.btn-appointment{
    background: #D0E8EC;
    color: var(--azulOscuro);
    font-family: AvenirHeavy;
    text-align: center;
    margin-left: 10rem;
    margin-top: 2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 5px;
}

@media (min-width: 576px){
    .title-appointment-1{
        font-size: 3.5rem;
    }

    .title-appointment-2{
        font-size: 3.5rem;
    }

    .btn-appointment{
        margin-left: 17rem;
    }
}

@media (min-width: 768px){
    .title-appointment-1{
        font-size: 3.5rem;
    }

    .title-appointment-2{
        font-size: 3.5rem;
    }
}

@media (min-width: 992px){
    .title-appointment-1{
        font-size: 4.5rem;
    }

    .title-appointment-2{
        font-size: 3.5rem;
    }

    .btn-appointment{
        margin-left: 26rem;
    }
}

/* Contact */
.contact-section{
    max-width: 100%;
    background-color: #D0E8EC;
    height: 250px;
}

@media (min-width: 768px){
    .contact-section{
        height: auto;
    }
}

.contact-section-1{
    background-color: #D0E8EC;
}

.contact-section-img{
    margin-left: -2rem;
}

.contact-section-background{
    background: #333;
    height: 250px;
    position: absolute;
    left: 69%;
    max-width: 38%;
    margin-top: -1px;
}

@media (min-width: 576px){
    .contact-section-background{
        height: 245px;
        left: 70%;
        left: 61.5%;
        max-width: 50%;
        margin-top: 0px;
    }
}

@media (min-width: 768px){
    .contact-section-background{
        height: 300px;
        left: 70%;
        max-width: 38%;
    }
}

@media (min-width: 992px){
    .contact-section-background{
        height: 500px;
        left: 64%;
        max-width: 38%;
    }
}


.contact-section-bottom{
    background-color: #D0E7EB;
    max-width: 100%;
    height: 150px;
}

@media (min-width: 768px){
    .contact-section-bottom{
        height: 70px !important;
    }
}

.form-contact{
    position: absolute;
    z-index: 1;
    left: 15%;
    top: 15%;
    border-radius: 10px;
}

.form-contact-section{
    background: var(--blanco);
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 576px){
    .form-contact{
        left: 35%;
        top: 25%;
    }
}

@media (min-width: 768px){
    .form-contact{
        left: 40%;
        top: 15%;
    }

    .form-contact-section{
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (min-width: 992px){
    .form-contact{
        left: 50%;
        top: 35%;
    }
}

.title-contact-1{
    font-family: GilroyLight;
    text-transform: uppercase;
    color: var(--blanco);
    text-align: center;
    font-size: 1.5rem;
}

.title-contact-2{
    font-family: GilroyExtraBold;
    text-transform: uppercase;
    color: var(--blanco);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.subtitle-white-contact{
    margin-top: 0rem;
    margin-bottom: 8rem;
    text-align: center;
}

.btn-contact-2{
    background: #D0E8EC;
    color: var(--azulOscuro);
    font-family: AvenirHeavy;
    text-align: center;
    margin-left: 13rem;
    margin-top: -10rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 5px;
}

@media (min-width: 576px){
    .btn-contact-2{
        margin-left: 29rem;
    }
}

@media (min-width: 768px){
    .title-contact-1{
        font-size: 2.5rem;
    }
    
    .title-contact-2{
        font-size: 2.5rem;
        margin-top: 5rem;
    }
    
    .subtitle-white-contact{
        margin-top: 4rem;
    }
    
    .btn-contact-2{
        margin-left: 19rem;
    }
}

@media (min-width: 992px){
    .btn-contact-2{
        margin-left: 16rem;
    }
}

.map-section-iframe,
.map-section{
    height: auto;
}

.img-banner-contact{
    height: 300px;
}

@media (min-width: 768px){
    .map-section-iframe,
    .map-section{
        height: 55vh;
    }

    .img-banner-contact{
        height: auto;
    }
}

/* Form */
.nf-form-fields-required{
    display: none;
}

.ninja-forms-req-symbol{
    display: none;
}

.nf-form-content .list-select-wrap .nf-field-element > div, .nf-form-content input:not([type="button"]), .nf-form-content textarea {
    background: #fff !important;
    border-bottom: 2px solid var(--grisOsuro) !important;
    border-radius: 0;
    box-shadow: none;
    color: #787878;
    transition: all .5s;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    font-size: 1.2rem !important;
    padding-bottom: 0;
    padding-left: 0 !important;
    margin-bottom: 2px !important;
    height: 30px !important;
    font-family: AvenirRoman;
}

#nf-field-3{
    background: #EBEBEB !important;
    border: none !important;
    border-radius: 0;
    box-shadow: none;
}

#nf-label-field-3{
    color: #8A8AA1 !important;
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    margin-top: 35px;
    font-family: AvenirRoman;
}

.label-above .nf-field-element, .label-below .nf-field-element{
    margin-bottom: -35px !important;
}

@media (min-width: 768px){
    #nf-label-field-3{
        margin-top: 35px;
    }

    .label-above .nf-field-element, .label-below .nf-field-element{
        margin-bottom: -25px !important;
    }
}

@media (min-width: 992px){
    #nf-label-field-3{
        margin-top: 0;
    }

    .label-above .nf-field-element, .label-below .nf-field-element{
        margin-bottom: 0px !important;
    }
}

.nf-form-content textarea:focus {
    background: #EBEBEB!important;
    border-color: #919191;
    color: #919191;
    outline: none;
    transition: all .5s;
}

.nf-form-content textarea.ninja-forms-field{
    height: 120px !important;
    border-radius: 10px !important;
}

.nf-error.field-wrap .nf-field-element::after {
    display: none;
}

.nf-form-content button, .nf-form-content input[type="button"], .nf-form-content input[type="submit"]{
    background-color: #D0E8EC !important;
    color: var(--azulClaro) !important;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 5px;
    font-family: AvenirHeavy;
    padding: 0 30px 0 30px !important;
    height: 30px !important;
    margin-top: 3rem;
    margin-left: -4.5rem;
}

@media (min-width: 768px){
    .nf-form-content button, .nf-form-content input[type="button"], .nf-form-content input[type="submit"]{
        margin-top: 2rem;
        margin-left: -3rem;
    }
}

@media (min-width: 992px){
    .nf-form-content button, .nf-form-content input[type="button"], .nf-form-content input[type="submit"]{
        margin-top: 0;
        margin-left: 0;
    }
}

.submit-wrap .nf-field-element{
    padding-left: 10rem;
    padding-right: 10rem;
}

::placeholder{
    color: var(--grisOsuro) !important;
    font-weight: 600 !important;
    margin-bottom: -2rem !important;
    padding: 0 !important;
    font-family: AvenirRoman;
}

#nf-form-title-1 h3{
    font-size: 2.2rem;
    font-family: GilroyExtraBold;
    margin-top: 0rem;
    margin-bottom: -4rem;
}

@media (min-width: 768px){
    #nf-form-title-1 h3{
        font-size: 3.2rem;
        margin-top: 0;
        margin-bottom: -4rem;
    }
}

@media (min-width: 992px){
    #nf-form-title-1 h3{
        font-size: 3.2rem;
        margin-top: 2.5rem;
        margin-bottom: 0rem;
    }
}

.nf-pass.field-wrap .nf-field-element::after {
    line-height: 30px !important;
}

#ninja_forms_required_items, .nf-field-container{
    margin-bottom: 0 !important;
}

@media (min-width: 992px){
    #ninja_forms_required_items, .nf-field-container{
        margin-bottom: 25px !important;
    }
}

.nf-error-wrap{
    display: none;
}
