//font-family: 'Lato', sans-serif;
@font-face {
  font-family: "Lato";
  src: url("../../dist/css/fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../../dist/css/fonts/Lato/Lato-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../../dist/css/fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("../../dist/css/fonts/Lato/Lato-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
